
.legend {
  background: rgba(98, 85, 85, 0.5);
  color: #fff;
  padding: 10px;
}
.carousel-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Full height of the viewport */
  background-color: #f0f0f0; /* Optional: to see the centering effect clearly */
}
.carousel .slide img {
  max-width: 80%; /* Adjust the width as needed */
  max-height: 70vh; /* Ensure the image doesn't exceed the viewport height */
  object-fit: contain; /* Ensure the image maintains its aspect ratio */
  margin: 0 auto; /* Center the image horizontally */
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5em;
  }

  .legend {
    font-size: 0.8em;
  }
}